[project]
name = "adventofcode"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pillow>=12.0.0",
    "sympy>=1.14.0",
    "tqdm>=4.67.1",
    "z3-solver>=4.15.4.0",
]
